@import "variables";

body {
  margin: 0px;
  padding: 0px;
}

nav {
  font-family: "system-ui";
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
  margin-top: 0px;
  background-color: rgb(0, 145, 255);
  color: white;

  img {
    width: 60px;
    border-radius: 50%;
    margin-left: 30px;
  }

  .nav-menu {
    ul {
      display: flex;
      gap: 15px;

      li {
        list-style: none;
        font-size: 20px;
        margin: 30px;
        margin-top: 5px;

        a {
          text-decoration: none;
          transition: 8ms ease;
          color: white;
        }
      }
    }
  }

  .search {
    input {
      width: 25rem;
      height: 2rem;
      padding: 3px;
      border-radius: 5px;
      border: 1px solid #666;

      &:focus {
        border: 1px solid orange;
        outline: none;
        box-shadow: 0.3px 0.3px 0.3px 0.3px orange;
      }
    }
  }

  .profile {
    img {
      width: 60px;
      height: 55px;
      border-radius: 50%;
      aspect-ratio: inherit;
      object-fit: cover;
    }
  }

  @media (max-width: 1200px) {
    display: flex;
    justify-content: space-between;

    .search input {
      display: none;
    }
  }

  @media (max-width: 780px) {
    .nav-menu {
      display: none;
    }
  }
}

.products {
  margin: 50px;
}

.product-view {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;

  img {
    width: 200px;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 10px;

  img {
    object-fit: cover;
  }
}
.hero {
  background-image: url("/assets/images/shoes.gif"); /* Add your hero image URL here */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 100px 0;

  .hero-content {
    max-width: 800px;
    margin: 0 auto;

    h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      margin-bottom: 30px;
    }

    .btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      text-decoration: none;
      font-weight: bold;
      border-radius: 5px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
