* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  margin: 10px;
}

h1 {
  margin-bottom: 10px;
}

section {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  flex-direction: row-reverse;
  .controls {
    display: flex;
    flex-direction: column;
    gap: 8px;
    div {
      display: flex;
      gap: 5px;
    }
  }
}

canvas {
  border: 2px solid #000;
  background-color: white;
  cursor: crosshair;
}

.controls {
  margin-top: 10px;
}

button {
  padding: 7px 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(91, 91, 91);
  color: white;
  border: none;
  border-radius: 5px;
  letter-spacing: 1.2px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: white;
  }

  canvas {
    border-color: #fff;
    background-color: #333;
  }
}
