body {
  margin: 0px;
  padding: 0px;
}
nav {
  font-family: "system-ui";
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
  margin-top: 0px;
  background-color: rgb(0, 145, 255);
  color: white;
}
nav img {
  width: 70px;
  margin-left: 30px;
}
nav .nav-menu ul {
  display: flex;
  gap: 15px;
}
nav .nav-menu ul li {
  list-style: none;
  font-size: 20px;
  margin: 30px;
  margin-top: 5px;
}
nav .nav-menu ul li a {
  text-decoration: none;
  transition: 8ms ease;
  color: white;
}
nav .search input {
  width: 25rem;
  height: 2rem;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #666;
}
nav .search input:focus {
  border: 1px solid orange;
  outline: none;
  box-shadow: 0.3px 0.3px 0.3px 0.3px orange;
}
nav .profile img {
  width: 60px;
  height: 55px;
  border-radius: 50%;
  aspect-ratio: inherit;
  object-fit: cover;
}
.products {
  margin: 50px;
}
.product-view {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
.product-view img {
  width: 200px;
}
@media (max-width: 1200px) {
  nav {
    display: flex;
    justify-content: space-between;
  }
  nav .search input {
    display: none;
  }
}
@media (max-width: 780px) {
  nav .nav-menu {
    display: none;
  }
}
