body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  place-items: center;
  min-height: 100vh;
  position: relative;
}

#eyes .eye {
  position: absolute;
  font-size: 3em;
  color: #000;
  top: 21.4%;
}

#eyes .eye1 {
  left: 47%;
}
#eyes .eye2 {
  left: 51.9%;
}

.eyeball {
  border: 1px solid red;
  padding: 0;
}
