:root {
  --primary-btn-bg-color: teal;
  --white-color: #fdfdfd;
  --warning-color: orange;
  --success-color: green;
  --error-color: red;
  --primary-purple: rgb(152, 51, 247);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.btn {
  padding: 12px;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease-in;
  cursor: pointer;
  background-color: var(--primary-btn-bg-color);
  color: var(--primary-white-color);

  &:hover {
    background-color: rgb(6, 145, 145);
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  padding: 10px;
  width: 20rem;
  border-radius: 5px;
  margin: 10px;
  font-size: 15px;
  outline: none;

  &:not(:placeholder-shown):valid {
    border-color: var(--success-color);
  }
  &:not(:placeholder-shown):invalid {
    border-color: var(--error-color);
  }
  &:focus:invalid {
    border-color: var(--warning-color);
  }
}

/* Dark mode colors */

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #fdfdfd;
  }
  .input {
    background-color: transparent;
    border-color: var(--white-color);
    color: var(--white-color);
  }
}
